$color-white: #fff;
$color-black: #000;

$color-card-border: #ccc;
$color-label: #777;
$color-title: #555;
$color-status-current: #e74632;
$color-status-prev: #777;
$color-desc: #888;
$color-writer: #999;

$color-form-disabled: #e4e4e4;
$color-disabled: #e74632;

$color-form-readonly: #ccc;
$color-readonly: #32e783;

$responsive-width-tablet: 769px;
$responsive-width-desktop: 993px;
$responsive-width-extra: 1201px;
